<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>????</title>
</head>
<body>

<h2>????</h2>

<h3>{{ username }}</h3>

<h4>???: {{ birth_day.year }}?{{ birth_day.month }}?{{ birth_day.day }}</h4>
{% if birth_day.month == 12 %}
    <p>?????????</p>
{% elif birth_day.month == 11 %}
    <p>??????????</p>
{% endif %}

<h3>?????????</h3>
<ul>
    {% for actress in actresses %}
        <li>{{ actress }}??</li>
    {% endfor %}
</ul>


<div>2018??M-1??????????????
    <p style="font-size:18px; color: midnightblue">{{ comedians | random }}</p>???????
</div>

</body>
</html>